version: "3.9"

services:
  web:
    image: nginx:alpine
    restart: unless-stopped
    working_dir: /usr/share/nginx/html
    volumes:
      - ./site:/usr/share/nginx/html:ro
    networks:
      - web
    labels:
      traefik.enable: "true"

      traefik.http.routers.ogur.rule: Host(`ogur.dev`)
      traefik.http.routers.ogur.entrypoints: websecure
      traefik.http.routers.ogur.tls.certresolver: le
      traefik.http.routers.ogur.middlewares: security-headers@file

      traefik.http.middlewares.redirect-www-ogur.redirectregex.regex: ^https?://www\.ogur\.dev/(.*)
      traefik.http.middlewares.redirect-www-ogur.redirectregex.replacement: https://ogur.dev/$$1
      traefik.http.middlewares.redirect-www-ogur.redirectregex.permanent: "true"

      traefik.http.routers.www-ogur.rule: Host(`www.ogur.dev`)
      traefik.http.routers.www-ogur.entrypoints: websecure
      traefik.http.routers.www-ogur.tls.certresolver: le
      traefik.http.routers.www-ogur.middlewares: redirect-www-ogur
      traefik.http.routers.www-ogur.service: noop@internal

networks:
  web:
    external: true
