entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
providers:
  docker: {}
certificatesResolvers:
  le:
    acme:
      email: you@example.com
      storage: /acme/acme.json
      httpChallenge:
        entryPoint: web
